.main {
  @apply bg-magnolia flex min-h-screen items-center justify-center;

  .box {
    @apply flex rounded-xl bg-white p-4;
    height: 37.5rem;

    .sidebarContainer {
      background-image: url("../../assets/images/bg-sidebar-desktop.svg");
      @apply h-full bg-contain bg-center bg-no-repeat px-8 py-12;
      width: 17rem;

      .list {
        @apply space-y-8 uppercase text-white;

        .item {
          @apply flex items-center gap-x-4;

          .number {
            @apply flex h-9 w-9 items-center justify-center rounded-full border border-white;
          }

          .info {
            @apply flex flex-col leading-4;

            .step {
              @apply text-light-gray text-sm font-thin;
            }

            .title {
              @apply font-medium;
            }
          }

          &.active {
            .number {
              @apply bg-light-blue border-light-blue text-black;
            }
          }
        }
      }
    }

    // step-1 starts
    // .contentContainer {
    //   @apply px-24 pt-10;
    //   width: 40rem;

    //   .title {
    //     @apply text-marine-blue text-3xl font-bold;
    //   }

    //   .desc {
    //     @apply text-cool-gray mt-2 block;
    //   }

    //   .form {
    //     @apply mt-8 flex flex-col justify-between;
    //     height: 77%;

    //     .fieldsContainer {
    //       @apply space-y-6 font-medium;

    //       .field {
    //         .label {
    //           @apply flex justify-between text-sm;

    //           label {
    //             @apply text-marine-blue;
    //           }

    //           .errorText {
    //             @apply text-strawberry-red invisible opacity-0 transition;
    //           }
    //         }

    //         input {
    //           @apply text-marine-blue hover:border-marine-blue mt-1 w-full cursor-pointer rounded-lg border px-4 py-3 outline-none transition;
    //         }

    //         &.error {
    //           .label .errorText {
    //             @apply visible opacity-100;
    //           }

    //           input {
    //             @apply border-strawberry-red;
    //           }
    //         }
    //       }
    //     }

    //     .btnContainer {
    //       @apply flex items-center justify-between;

    //       .back {
    //         @apply text-cool-gray hover:text-marine-blue transition;

    //         &.hide {
    //           @apply invisible;
    //         }
    //       }

    //       .next {
    //         @apply bg-marine-blue text-light-gray hover:bg-marine-blue/90 rounded px-5 py-2 transition hover:text-white hover:shadow-lg;
    //       }
    //     }
    //   }
    // }
    // step-1 ends

    // step-2 starts
    .contentContainer {
      @apply px-24 pt-10;
      width: 40rem;

      .title {
        @apply text-marine-blue text-3xl font-bold;
      }

      .desc {
        @apply text-cool-gray mt-2 block;
      }

      .form {
        @apply mt-8 flex flex-col justify-between;
        height: 77%;

        .radioContainer {
          @apply flex gap-x-4;

          .radio {
            @apply relative w-full;

            input {
              @apply invisible absolute opacity-0;

              &:checked + .item {
                @apply border-purplish-blue bg-pastel-blue/10;
              }
            }

            .item {
              @apply flex h-40 cursor-pointer flex-col items-start justify-between rounded-lg border px-4 py-5 transition;

              .bottom {
                .radioTitle {
                  @apply text-marine-blue block text-lg font-medium;
                }
                .radioDesc {
                  @apply text-cool-gray block text-sm;
                }
              }

              &:hover {
                @apply border-purplish-blue;
              }
            }
          }
        }

        .toggleContainer {
          @apply bg-cool-gray/10 mt-6 flex items-center justify-center gap-x-5 rounded-lg p-3 text-sm font-medium text-gray-400;

          .active {
            @apply text-marine-blue;
          }

          .toggle {
            @apply bg-marine-blue relative h-5 w-9 cursor-pointer rounded-full;

            &:before {
              content: "";
              left: 3px;
              @apply absolute bottom-0 top-0 my-auto h-3 w-3 rounded-full bg-white transition;
            }

            input {
              @apply invisible absolute opacity-0;
            }

            &:has(input:checked) {
              &:before {
                transform: translateX(18px);
              }
            }
          }
        }

        .btnContainer {
          @apply flex items-center justify-between;

          .back {
            @apply text-cool-gray hover:text-marine-blue transition;

            &.hide {
              @apply invisible;
            }
          }

          .next {
            @apply bg-marine-blue text-light-gray hover:bg-marine-blue/90 rounded px-5 py-2 transition hover:text-white hover:shadow-lg;
          }
        }
      }
    }
    // step-2 ends
  }
}
