.radioContainer {
  @apply flex flex-col gap-x-4 gap-y-3 sm:flex-row;

  .radio {
    @apply relative w-full;

    input {
      @apply invisible absolute opacity-0;

      &:checked + .item {
        @apply border-purplish-blue bg-pastel-blue/10;
      }
    }

    .item {
      @apply flex cursor-pointer flex-row items-center gap-x-4 gap-y-8 rounded-lg border px-4 py-3 transition sm:flex-col sm:items-start sm:py-5;

      img {
        @apply w-auto;
        @media (width < 640px) {
          width: 2.2rem;
        }
      }

      .bottom {
        .radioTitle {
          @apply block text-base font-medium text-marine-blue sm:text-lg;
        }
        .radioDesc {
          @apply block text-sm text-cool-gray sm:text-sm;
        }
        .discount {
          @apply hidden text-xs text-marine-blue;

          &.show {
            @apply inline-block;
          }
        }
      }

      &:hover {
        @apply border-purplish-blue;
      }
    }
  }
}

.toggleContainer {
  @apply mt-6 flex items-center justify-center gap-x-5 rounded-lg bg-cool-gray/10 p-3 text-sm font-medium text-gray-400;

  .label {
    @apply transition;

    &.active {
      @apply text-marine-blue;
    }
  }

  .toggle {
    @apply relative h-5 w-9 cursor-pointer rounded-full bg-marine-blue;

    &:before {
      content: "";
      left: 3px;
      @apply absolute bottom-0 top-0 my-auto h-3 w-3 rounded-full bg-white transition;
    }

    input {
      @apply invisible absolute opacity-0;
    }

    &:has(input:checked) {
      &:before {
        transform: translateX(18px);
      }
    }
  }
}
