.box {
  @apply flex flex-col rounded-xl bg-transparent shadow-xl sm:flex-row sm:bg-white sm:p-4;
  height: 37.5rem;
  @media (width < 640px) {
    height: auto;
  }

  .sidebarContainer {
    background-image: url("../../assets/images/bg-sidebar-desktop.svg");
    width: 17rem;
    @apply h-full rounded-lg bg-cover bg-center bg-no-repeat px-4 py-8 sm:py-12 lg:px-8;
    @media (width < 1024px) {
      width: 35%;
    }
    @media (width < 640px) {
      background-image: url("../../assets/images/bg-sidebar-mobile.svg");
      @apply h-40 w-screen rounded-none;
    }

    .list {
      @apply flex flex-row justify-center gap-x-5 gap-y-8 uppercase text-white sm:flex-col;

      .item {
        @apply flex items-center gap-x-4;

        .number {
          @apply flex h-9 w-9 items-center justify-center rounded-full border border-white duration-700;
        }

        .info {
          @apply hidden flex-col leading-4 sm:flex;

          .step {
            @apply text-sm font-thin text-light-gray;
          }

          .title {
            @apply font-medium;
          }
        }

        &.active {
          .number {
            @apply border-light-blue bg-light-blue text-black;
          }
        }
      }
    }
  }
}
