.container {
  @apply space-y-3 sm:space-y-4;

  .item {
    @apply relative flex cursor-pointer items-center gap-x-5 rounded-lg border p-3 transition hover:border-purplish-blue sm:p-5;

    input {
      @apply invisible absolute opacity-0;

      &:checked + .customInput {
        @apply border-purplish-blue bg-purplish-blue;
      }
    }

    .customInput {
      @apply flex items-center justify-center rounded border transition;

      .checkmark {
        @apply inline-block h-5 w-5 rotate-45;
      }

      .stem {
        @apply absolute bg-white;
        width: 2px;
        height: 10px;
        left: 11px;
        top: 4px;
      }

      .kick {
        @apply absolute bg-white;
        width: 6px;
        height: 2px;
        left: 7px;
        top: 13px;
      }
    }

    .text {
      @apply w-full;

      .label {
        @apply block text-sm font-medium text-marine-blue sm:text-base;
      }

      .desc {
        @apply block text-sm text-cool-gray;
        margin-top: 1px;
      }
    }

    .price {
      @apply text-sm text-purplish-blue sm:text-base;
    }

    &:has(input:checked) {
      @apply border-purplish-blue bg-purplish-blue/5;
    }
  }
}
